<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/ionicons.min.css")
    @Styles.Render("~/Content/datepicker3.css")
    @Styles.Render("~/Content/daterangepicker-bs3.css")
    @Styles.Render("~/Content/bootstrap3-wysihtml5.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
    <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Logo -->
    <header>
        <section class="BarraEncabezado">
            <span id="TituloPagina">
                MOVIESAVED
            </span>
        </section>
        <section class="BarraMenu bg-blue-gradient ">
            <ul class="ul-MenuDerecho">
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <span>Acerca de nosotros&nbsp;&nbsp;</span>
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <span>Contacto&nbsp;&nbsp;</span>
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Index", "Home")">
                        <span>Ayuda&nbsp;&nbsp;</span>
                    </a>
                </li>
            </ul>
        </section>
    </header>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Hernando Delgado - Juan Acosta</p>
    </footer>
</body>
</html>
